if SHIELD_Cygnus_R

config ZMK_KEYBOARD_NAME
    default "Cygnus-M_R"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_Cygnus_L

config ZMK_KEYBOARD_NAME
    default "Cygnus-M_L"

config ZMK_SPLIT
    default y

endif
