config ZMK_INPUT_PROCESSOR_SCROLL_DIR_LOCK
    bool "Enable scroll direction lock input processor"
    default n

config ZMK_INPUT_PROCESSOR_SCROLL_DIR_LOCK_HOLD_TIME_MS
    int "Scroll direction lock hold time (ms)"
    default 600
    depends on ZMK_INPUT_PROCESSOR_SCROLL_DIR_LOCK