config ZMK_BEHAVIOR_SENSOR_ROTATE_DIR_LOCK
    bool "Enable sensor rotate direction lock behavior"
    default n

config ZMK_BEHAVIOR_SENSOR_ROTATE_DIR_LOCK_HOLD_TIME_MS
    int "Direction lock hold time (ms)"
    default 600
    depends on ZMK_BEHAVIOR_SENSOR_ROTATE_DIR_LOCK

config ZMK_INPUT_PROCESSOR_SCROLL_INERTIA
    bool "Enable scroll inertia input processor"
    default n